doctype html
html
	head
		link(rel='stylesheet' href='css/style.css')
		meta(name='viewport' content='width=device-width,initial-scale=1')

	body
		section.main
			.content
				.form
					.form-image
						img(src="img/complete.svg" alt)
					.form-inside
						h1 Woohooo!
						p.paragraph.center We've received your form. Now you have to wait until everyone else sends the form. After that, you'll get your gift recipient's name by email.
							br
							| Don't forget to check your inbox out!
						a(href="index.html").button.secondary close

				.logo
					a(href="https://satelliteinnovations.io").logo-link
						img(src="img/Satellite_logo.svg" alt).logo-link__image